<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">

          <p id="notice"><%= notice %></p>

          <%= image_tag @episode.image_url(:thumb).to_s %>


          <p>
            <strong>Name:</strong>
            <%= @episode.name %>
          </p>

          <p>
            <strong>Description:</strong>
            <%= @episode.description %>
          </p>

          <p>
            <strong>Content:</strong>
            <%= @episode.content %>
          </p>

          <%= link_to 'Edit', edit_episode_path(@episode) %> |
          <%= link_to 'Back', episodes_path %>

        </div>
      </div>
</div>
